html {
}

/* https://www.google.com/url?sa=i&url=https%3A%2F%2Fnzxt.com%2F&psig=AOvVaw3QFqtiGMitpfxE9X89PBM_&ust=1695729033004000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCJCwj4fZxYEDFQAAAAAdAAAAABAE */

/* header */
header {
    background-color: #010609;
    margin-bottom: 0px !important;
}
header * {
    color: #05ECF6;
}

.nav-link { 
    color: #05eef6cd !important;
}
.nav-link.home{
    font-weight: 800;
    /* color: #010609 !important; */
    /* background-color: #05ECF6 !important; */
    color: #05eef6cd !important;
}
.btn { 
    color: #05eef6cd !important;
    background-color: #010609 !important;
}
.btn-primary{
    font-weight: 800;
    color: #010609 !important;
    background-color: #05ECF6 !important;
}

/* Body */
body {
    background-color: #010609;
    background-position: top;
    color: #ffe400;
}
a {
    color: #05ECF6;
}

h1{
    color: #ffe400;
    font-weight: bold;
    font-size: 3rem;
}
h2 {
    color: #ffe400;
}

p {
    color: #c5c5c5;
    text-align: justify;
}

#profile {

}

hr {
ground-color: black;    color: #dee2e6;;
    back
    width: 80vw;
    border-top: 4px solid #dee2e6;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* Introduction Section */

.layer1{
    height: 100vh;
    width:auto;
    padding-left: 30px;
    padding-right: 30px;
    background: url("./assets/images/home-page-bg-computer.png") center center no-repeat;
    background-color: #01060996 !important;
    margin-bottom: 26px;
}
div .intro {
    background-color: #01060996 !important;
}

#namePlate {
    background-color: #010609dc !important;
    padding-right: calc(var(--bs-gutter-x) *3) !important;
    max-width: 90vw;
}

#nameplate .lead {
    padding: 0, 7.5%, 0 7.5% !important;
}

/* Portfolio Section */
[role=main] {
    background-color: #010609 !important;

}
.portfolioSection {
    background-image: linear-gradient(186, #010609, #05eef6cd) !important;
    

}

.portfolioSection h2 {
    font-size: 3.5rem;
}

.portfolioSection p {
    color: black;
    text-align: center;
}

.portfolioSection .lead {
    color: #c5c5c5 !important;
    text-align: center !important;
    margin-left: 10%;
    margin-right: 10%;
}
.card-body {
    background-color: #010609f3 !important;
    ;
}
.text-muted {
    color: #05eef67f !important;
    
}

/* Footer Section */

.footer li img {
    height: 30px;
}
footer {
    border-color: aqua !important;
}


/* Tablet devices */
@media (max-width: 992px) {
    .col-lg-5 {
        position: relative;
        justify-content: center;
    }
    #profile {
        height: 300px;
        justify-items: center;
    }
    #header {
        /* padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important; */
        /* margin-top: 20px !important; */
    }
    #header a {
        /* padding-left: 0.9rem;
        padding-bottom: 0.45rem;
        padding-top: 0.45rem;
        padding-right: 0.9rem; */
    }
    .webTitle {
        /* font-size: 0.95rem !important; */
    }
    #namePlate {
        padding-right: calc(var(--bs-gutter-x) *0.75) !important;
        padding-left: calc(var(--bs-gutter-x) *0.75) !important;
        align-content: center;
    }
}

/* Mobile devices */
@media (max-width: 768px) {
    .webTitle {
        /* font-size: 0.5rem !important; */
    }
    #namePlate {
        
    }
}
